@import "tailwindcss";

* {
  box-sizing: border-box;
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

.font-cinzel {
  font-family: var(--font-cinzel);
}

.header_div {
  align-self: center;
  border: solid 2px transparent;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  min-width: 137px;
  padding: 8px;
  text-align: center;
}

.header_div:hover {
  background-color: rgba(0, 0, 0, 0.285);
  border: solid 2px #ffd900af;
  color: rgba(255, 255, 255, 0.734);
}
